<h4><%= @topic.title %></h4>

<div class="input-field">
  <textarea id="comment-textarea" class="materialize-textarea"></textarea>
  <button id="add-comment" class="btn">Add Comment</button>
</div>

<ul class="collection">
</ul>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    window.createSocket(<%= @topic.id %>)
  })
</script>

