<h4><%= @topic.title %></h4>


<ul class="collection">
</ul>

<form id="comment-form">
  <div class="input-field">
    <textarea id="comment-textarea" class="materialize-textarea"></textarea>
    <button id="add-comment" class="btn" type="submit">Add Comment</button>
  </div>
</form>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    if(window.userToken) window.createSocket(<%= @topic.id %>)
  })
</script>

